button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

button::-moz-focus-inner {
  border: 0;
}

.game-button {
  background-color: cornflowerblue;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  outline: none;
  border: none;
  width: 5em;
  height: 2.25em;
  border-radius: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

@media only screen and (max-width: 730px) {
  .game-button {
    font-size: 1em;
  }
}
