.counter {
  font-size: 3em;
  color: white;
  border-radius: 50%;
  width: 2.25em;
  margin-left: auto;
  margin-right: auto;
}

.score {
  background-color: olivedrab;
}

.skipped {
  background-color: sandybrown;
}

.pass {
  background-color: tomato;
}
