.word {
  letter-spacing: 0.0625em;
  font-size: 2.5em;
  color: dodgerblue;
}

/*
 Adjust for larger screens
*/

@media only screen and (min-width: 750px) {
  .word {
    font-size: 4em;
  }
}

@media only screen and (min-width: 900px) {
  .word {
    font-size: 4.5em;
  }
}
