.game {
  display: grid;
  grid-template-rows: 5em 1fr;
  height: 100vh;
  grid-template-areas:
    "header"
    "game";
}

.game > header {
  grid-area: header;
}

.game .game-layout {
  grid-area: game;
}
