header {
  background-color: #67727a;
  margin-top: 0;
}

.game-title {
  color: #f5f5f5;
  font-size: 3.5em;
  margin-top: 0.15em;
}

@media only screen and (max-width: 730px) {
  .game-title {
    font-size: 3em;
  }
}
